.button {
    display:flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items:center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rosybrown;
    color:whitesmoke;
    outline: 1px solid #888;
}

.operator {
    background-color:rgb(134, 97, 97);
    color: #ffffff;
}

