.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 100vh;
  width: 100%;
}

.calc-body {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}